.visible {
/*    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
*/
   -webkit-transform: scale(3,3);
    -moz-transform: scale(3,3);
    -o-transform: scale(3,3);
    -ms-transform: scale(3,3);
    transform: scale(3,3);
}

.invisible {
  visibility: hidden;
}


#buttonContainer {
  position: absolute;
  left: 0;
  top: 90%;
  width: 5%;
  height: 5%;
  margin-left: 1%;
  border-radius: 20px;
  border: 2px solid black;
  background-color: #5CB3FF;
}

#button {
  position: relative;
  color: black;
  top:-10%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  margin: auto;
  text-align: center;
  font-size: 30px;
  font-size: 5.5vh;
}

#buttonContainer:hover {
  cursor: pointer;
}

#instructionsContainer {
    position: absolute;
    width: 16%;
    height: 15%;
    border-radius: 2px;
    border: 1px solid black;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #5CB3FF;
    overflow: hidden;

}

#instructions {
  padding: 10px;
  position: relative;
  color: black;
  top:-10%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  margin: auto;
  text-align: left;
  font-size: 10px;

}